.el-header {
  padding: 0 200px;
  color: #fff;
  font-size: 12px;
  display: flex;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  justify-content: center;
  background: #07144e;
}
.logo-bar {
  font-size: 30px;
  line-height: 60px;
}
.menu-bar {
  flex: 1 0;
  display: flex;
  list-style: none;
  line-height: 60px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.menu-bar-item {
  flex: 1 0;
  min-width: 50px;
  display: inline-block;
  cursor: pointer;
}
.menu-bar-item:hover {
  font-size: 16px;
  color: #db5304;
  transition: 0.1s;
}
.register-bar {
  flex: 1 0;
  max-width: 200px;
  min-width: 100px;
  line-height: 60px;
}
.register-button, .control-button {
  margin-left: 10px;
}

.control-button{
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 4px;
}
.el-main {
  padding: 60px  0; 
}

.el-footer {
  background:#fbfbfb;
}
